Импорты и настройки

In [1]:
import requests
import pandas as pd
import numpy as np
import csv
import io
import matplotlib.pyplot as plt
import time
import inspect
from kzt_exchangerates import Rates

%matplotlib inline

In [2]:
pd.set_option('display.max_columns', 50)
np.seterr(divide='ignore', invalid='ignore')

{'divide': 'warn', 'over': 'warn', 'under': 'ignore', 'invalid': 'warn'}

Tez bol

In [3]:
# data

# Organic = [0, 0, 0] # budget, views, clicks
# googleadwords_int = [1680, 646000, 14500]  
# Facebook_Ads = [100, 6000, 1000]


# # bvc = [Organic, googleadwords_int, Facebook_Ads]  
# bvc = [Organic]  

# from_date = '2022-11-22'
# to_date = '2022-11-30'



# # TEZ BOL
# app_id = 'com.tezbol.android'  # Tez bol android
# token = 'Bearer eyJhbGciOiJBMjU2S1ciLCJjdHkiOiJKV1QiLCJlbmMiOiJBMjU2R0NNIiwidHlwIjoiSldUIiwiemlwIjoiREVGIn0.sEVLFBUJYOA0mqDnHXn26LmhHkk9brtcqEFUQ3ff28aHsMYW4IgcRQ.rHov5TPYLC05J7FU.kPdQbwAy_6DjqVQnHgOVPNh1hLwtSdKrSPIfwVBQx22brT5CfR0-QMnh_Gmz8zFvyKOYXY2JaIfKetASeZ2FM-6VxT8b7MmFESD-McDxnSa6x_HpAbAXT2D2oqK_x7uh7WWF4eVYQTgo6M5UL8qZyg_nBH1FC3BKUxo0NEnUWtdkxlk71GbcGtP7a0Ik1NNgh7f-uFfuDbh9Kx-RhV7m5Io14MuKoh9KW1SAo__N0g2yOk5_1KDgVhGSTPtyiI34FA1O-GB569ufliR4Yo2-i9mLoCWaiJHLltxE55rp39rqLgGQiSxBpAiG-c3gHB5n8cU9pqN4cvRpMMjOTxaAE6FZYM7WlTAx80Pmqy6yVXe3dBBH9UZjpFhc5aR84y-BYU0UnrODff2KT-EjTXap2nWI0ALZCC0LvX57FZk8ZQrlV1UG6tmx2_mXgQNkAuCYNzsgRajRUf3TjLNMEwVTpn-yCYbVo9YtKumwXu9bI-iHIKqPmvr8y466bA5_zYP7MQLG75jnKWbSr3VAf87VNA.VaZ4bKqcqdREmfgWC7bBDg'

Creditomat.MD

In [4]:
# # CREDITOMAT.MD 

# app_id = 'com.kreditomatmd.dozp.ref'   # MD kreditomat android

# token = 'Bearer eyJhbGciOiJBMjU2S1ciLCJjdHkiOiJKV1QiLCJlbmMiOiJBMjU2R0NNIiwidHlwIjoiSldUIiwiemlwIjoiREVGIn0.Hioi6Lb0C7wwtN6_9zoigB37ukPBlJdyF5R7G3DIncShFJtPNs9h9g.eqnAjdwd28XULE_-.IZsJsJuR5e-yVrcmWoDVe-DVURRjFEsQShgWwJ9unBkxAjz72n2IBrWecP7_pA9k6mV7br73JxgvWmPB6RNwTPcPOz0FbBQQIwX-xu2iD3udokHVk3XT5aP_aMHSWkADoeyJZyImnPf10-wCi8-nJ3vivzebPl6VCi5QQ-HorU5O8PLUq9LddE-0L7gfT6S0diMY7yW1HpAGHKethpI7abCwV9_yX88tptFHlaWV8zqsHysoqZmA-6tiyloCIoGOibFgk6Ix5tJYQaZkUFbvQf5IVdwoJVe-VeGEESnBedQA3UBbpAhHB1Hp1OZeZOBUpAOQHQRZkqNvy8y9QMMkr-5-_CS567ZAtUfh3ZbMcHau63e6fsQbbWQhDWeBZ6GDm5OuAIgyyJipAyEf7_6ozL0DS00wUYrhKH1vCF4kMid7VljHcVk2s_-2u79I2ttDsQtK3DGnbSYgsGkktkQDSKGCOlRLNNkpCnHp5bnhmLEbs-BpxwIlHW7PoNi3YQriaBLJrWt1Sn-T3j8N6lIwgFDG0A.sma12W1tpVnUAojhCVLMUA'

# from_date = '2022-09-22'
# to_date = '2022-11-21'

# # media_source = 'Social_instagram'
# # media_source = 'app_land'

# media_source = ['Organic', 'Social_instagram']

Kreditomat.KZ

In [5]:
## KREDITOMAT.KZ

# app_id = 'id1392973739'   # kreditomat ios
app_id = 'com.payday.dozp.ref'   # kreditomat android

token = 'Bearer eyJhbGciOiJBMjU2S1ciLCJjdHkiOiJKV1QiLCJlbmMiOiJBMjU2R0NNIiwidHlwIjoiSldUIiwiemlwIjoiREVGIn0.sEVLFBUJYOA0mqDnHXn26LmhHkk9brtcqEFUQ3ff28aHsMYW4IgcRQ.rHov5TPYLC05J7FU.kPdQbwAy_6DjqVQnHgOVPNh1hLwtSdKrSPIfwVBQx22brT5CfR0-QMnh_Gmz8zFvyKOYXY2JaIfKetASeZ2FM-6VxT8b7MmFESD-McDxnSa6x_HpAbAXT2D2oqK_x7uh7WWF4eVYQTgo6M5UL8qZyg_nBH1FC3BKUxo0NEnUWtdkxlk71GbcGtP7a0Ik1NNgh7f-uFfuDbh9Kx-RhV7m5Io14MuKoh9KW1SAo__N0g2yOk5_1KDgVhGSTPtyiI34FA1O-GB569ufliR4Yo2-i9mLoCWaiJHLltxE55rp39rqLgGQiSxBpAiG-c3gHB5n8cU9pqN4cvRpMMjOTxaAE6FZYM7WlTAx80Pmqy6yVXe3dBBH9UZjpFhc5aR84y-BYU0UnrODff2KT-EjTXap2nWI0ALZCC0LvX57FZk8ZQrlV1UG6tmx2_mXgQNkAuCYNzsgRajRUf3TjLNMEwVTpn-yCYbVo9YtKumwXu9bI-iHIKqPmvr8y466bA5_zYP7MQLG75jnKWbSr3VAf87VNA.VaZ4bKqcqdREmfgWC7bBDg'   

from_date = '2022-09-22'
to_date = '2022-11-21'

Organic = [0, 0, 0] # budget, views, clicks
googleadwords_int = [1680, 646000, 14500]  

bvc = [Organic, googleadwords_int]

Получаем имена переменных для запроса

In [6]:
''' получаем имена переменных '''

def retrieve_name(var):
        for fi in reversed(inspect.stack()):
            names = [var_name for var_name, var_val in fi.frame.f_locals.items() if var_val is var]
            if len(names) > 0:
                return names[0]
            
media_source = [retrieve_name(x) for x in bvc]

media_source

['Organic', 'googleadwords_int']

Функция обращения в AppsFlyer

In [7]:

def pull_request(med_sour):
    
    if med_sour == 'Facebook_Ads':
        url = f"https://hq1.appsflyer.com/api/agg-data/export/app/{app_id}/partners_report/v5?from={from_date}&to={to_date}&media_source={med_sour}&category=facebook"
    else:
        url = f"https://hq1.appsflyer.com/api/agg-data/export/app/{app_id}/partners_report/v5?from={from_date}&to={to_date}&media_source={med_sour}&category=standard"

    headers = {
        "accept": "text/csv",
        "authorization": token
    }


    urlData = requests.get(url, headers=headers).content
    rawData = pd.read_csv(io.StringIO(urlData.decode('utf-8')))
    return rawData

Запрос в Appsflyer

In [8]:
df_agre = None
if type(media_source) == list:
    for i in range(len(media_source)):
        if str(type(df_agre)) == "<class 'NoneType'>":
            df_agre = pull_request(media_source[i])
        else: 
            time.sleep(60)
            df_agre = pd.concat([df_agre, pull_request(media_source[i])])     
else:
    print(15)
    
df_agre

,Agency/PMD (af_prt),Media Source (pid),Campaign (c),Impressions,Clicks,CTR,Installs,Conversion Rate,Sessions,Loyal Users,Loyal Users/Installs,Total Revenue,Total Cost,ROI,ARPU,Average eCPI,af_login (Unique users),af_login (Event counter),af_login (Sales in KZT),install_kreditomat (Unique users),install_kreditomat (Event counter),install_kreditomat (Sales in KZT),loan_accepted (Unique users),loan_accepted (Event counter),loan_accepted (Sales in KZT),loan_rejected (Unique users),loan_rejected (Event counter),loan_rejected (Sales in KZT),payment_completed (Unique users),payment_completed (Event counter),payment_completed (Sales in KZT),submit_loan_application (Unique users),submit_loan_application (Event counter),submit_loan_application (Sales in KZT)
0,None,Organic,None,NaN,NaN,NaN,24197,NaN,0,20576,0.8504,0.0,NaN,NaN,0.0,NaN,21139,99633,0.0,23284,68223,0.0,2851,11806,0.0,4698,36191,0.0,4464,26489,0.0,10037,108557,0.0
0,None,googleadwords_int,Instal G first open,7975109.0,135978.0,0.0171,34642,0.2548,204301,28791,0.8311,0.0,NaN,NaN,0.0,NaN,29079,62059,0.0,32184,32298,0.0,3859,5370,0.0,5777,13289,0.0,5638,10306,0.0,12571,40189,0.0

Заменяем пробелы в колонках

In [18]:
df_agre['Media Source (pid)'] = df_agre['Media Source (pid)'].str.replace(' ','_')

Группируем компании в единные источники

In [19]:
dfx = df_agre.groupby('Media Source (pid)').sum(numeric_only=True)
dfx

,Impressions,Clicks,CTR,Installs,Conversion Rate,Sessions,Loyal Users,Loyal Users/Installs,Total Revenue,Total Cost,ROI,ARPU,Average eCPI,af_login (Unique users),af_login (Event counter),af_login (Sales in KZT),install_kreditomat (Unique users),install_kreditomat (Event counter),install_kreditomat (Sales in KZT),loan_accepted (Unique users),loan_accepted (Event counter),loan_accepted (Sales in KZT),loan_rejected (Unique users),loan_rejected (Event counter),loan_rejected (Sales in KZT),payment_completed (Unique users),payment_completed (Event counter),payment_completed (Sales in KZT),submit_loan_application (Unique users),submit_loan_application (Event counter),submit_loan_application (Sales in KZT)
Media Source (pid),,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Organic,0.0,0.0,0.0000,24197,0.0000,0,20576,0.8504,0.0,0.0,0.0,0.0,0.0,21139,99633,0.0,23284,68223,0.0,2851,11806,0.0,4698,36191,0.0,4464,26489,0.0,10037,108557,0.0
googleadwords_int,7975109.0,135978.0,0.0171,34642,0.2548,204301,28791,0.8311,0.0,0.0,0.0,0.0,0.0,29079,62059,0.0,32184,32298,0.0,3859,5370,0.0,5777,13289,0.0,5638,10306,0.0,12571,40189,0.0

In [20]:
dfx.columns

Index(['Impressions', 'Clicks', 'CTR', 'Installs', 'Conversion Rate',
       'Sessions', 'Loyal Users', 'Loyal Users/Installs', 'Total Revenue',
       'Total Cost', 'ROI', 'ARPU', 'Average eCPI', 'af_login (Unique users)',
       'af_login (Event counter)', 'af_login (Sales in KZT)',
       'install_kreditomat (Unique users)',
       'install_kreditomat (Event counter)',
       'install_kreditomat (Sales in KZT)', 'loan_accepted (Unique users)',
       'loan_accepted (Event counter)', 'loan_accepted (Sales in KZT)',
       'loan_rejected (Unique users)', 'loan_rejected (Event counter)',
       'loan_rejected (Sales in KZT)', 'payment_completed (Unique users)',
       'payment_completed (Event counter)', 'payment_completed (Sales in KZT)',
       'submit_loan_application (Unique users)',
       'submit_loan_application (Event counter)',
       'submit_loan_application (Sales in KZT)'],
      dtype='object')

In [15]:
if 'af_login (Sales in KZT)' in dfx.columns:
    print(1)
else:
    print(2)

1

Удаляем лишние колонки

In [27]:
df = dfx.copy()



''' удаляем лишние колонки '''
try: 
    df = df.drop([
                 'Impressions',
                 'CTR',
                 'Conversion Rate',
                 'Total Revenue',
                 'Total Cost',
                 'af_login (Unique users)',
                 'loan_accepted (Unique users)',
                 'install_kreditomat (Event counter)',
                 'ROI',
                 'ARPU',
                 'Loyal Users',
                 'Loyal Users/Installs',
                 'loan_rejected (Unique users)',
                 'Average eCPI',
                 'install_kreditomat (Unique users)',
                 'af_complete_registration (Unique users)',
                 'submit_loan_application (Unique users)'], axis=1)
except:
    df = df.drop([
                'Impressions',
                 'CTR',
                 'Conversion Rate',
                 'Total Revenue',
                 'Total Cost',
                 'af_login (Unique users)',
                 'loan_accepted (Unique users)',
                 'install_kreditomat (Event counter)',
                 'ROI',
                 'ARPU',
                 'Loyal Users',
                 'Loyal Users/Installs',
                 'loan_rejected (Unique users)',
                 'Average eCPI',
                 'install_kreditomat (Unique users)',
                 'submit_loan_application (Unique users)'], axis=1)

    
try:
    if 'af_login (Sales in KZT)' in df.columns:
        df = df.drop([
                 'af_complete_registration (Sales in KZT)',
                 'af_login (Sales in KZT)',
                 'install_kreditomat (Sales in KZT)',
                 'loan_accepted (Sales in KZT)',
                 'loan_rejected (Sales in KZT)',
                 'submit_loan_application (Sales in KZT)'], axis=1)
    else:    
        df = df.drop([
                 'af_complete_registration (Sales in USD)',
                 'af_login (Sales in USD)',
                 'install_kreditomat (Sales in USD)',
                 'loan_accepted (Sales in USD)',
                 'loan_rejected (Sales in USD)',
                 'submit_loan_application (Sales in USD)'], axis=1)
except:
    if 'af_login (Sales in KZT)' in df.columns:
        df = df.drop([
                 'af_login (Sales in KZT)',
                 'install_kreditomat (Sales in KZT)',
                 'loan_accepted (Sales in KZT)',
                 'loan_rejected (Sales in KZT)',
                 'submit_loan_application (Sales in KZT)'], axis=1)
    else:    
        df = df.drop([
                 'af_login (Sales in USD)',
                 'install_kreditomat (Sales in USD)',
                 'loan_accepted (Sales in USD)',
                 'loan_rejected (Sales in USD)',
                 'submit_loan_application (Sales in USD)'], axis=1)
    
# # transposition columns
# df = df[['Media Source (pid)', 'Campaign (c)', 'Budget', 'Sessions', 'install_kreditomat (Event counter)', 'af_login (Event counter)', 'submit_loan_application (Event counter)', 'loan_rejected (Event counter)', 'loan_accepted (Event counter)']]
# df

# transposition columns without BUDGET
df = df[['Sessions', 'Installs', 'af_login (Event counter)', 'submit_loan_application (Event counter)', 'loan_rejected (Event counter)', 'loan_accepted (Event counter)']]
df

,Sessions,Installs,af_login (Event counter),submit_loan_application (Event counter),loan_rejected (Event counter),loan_accepted (Event counter)
Media Source (pid),,,,,,
Organic,0,24197,99633,108557,36191,11806
googleadwords_int,204301,34642,62059,40189,13289,5370

Считаем конверсии

In [28]:



df

,Sessions,Installs,af_login (Event counter),submit_loan_application (Event counter),loan_rejected (Event counter),loan_accepted (Event counter)
Media Source (pid),,,,,,
Organic,0,24197,99633,108557,36191,11806
googleadwords_int,204301,34642,62059,40189,13289,5370

Добавляем данные в таблицу по бюджету, просмотрам и кликам

In [29]:
''' add budgets, views, clicks '''
 
df_bvc = pd.DataFrame(index=['Budget', 'Views', 'Clicks'])

for i in range(len(bvc)): 
    df_bvc.insert(0, f"{retrieve_name(bvc[i])}", bvc[i], True)


df_bvc = df_bvc.T

df_bvc

                   Budget   Views  Clicks
googleadwords_int    1680  646000   14500
Organic                 0       0       0

Объединение таблиц с бюджетом и с appsflyer

In [30]:
''' объединяюю таблицы '''

df = pd.concat([df_bvc, df], axis=1, join="inner")

Сортируем по колонке 'Installs'

In [31]:
''' сортирую по установкам '''

df = df.sort_values(by='Installs', ascending=False)
df

,Budget,Views,Clicks,Sessions,Installs,af_login (Event counter),submit_loan_application (Event counter),loan_rejected (Event counter),loan_accepted (Event counter)
googleadwords_int,1680,646000,14500,204301,34642,62059,40189,13289,5370
Organic,0,0,0,0,24197,99633,108557,36191,11806

Считаем финансовые метрики

In [33]:
def trunc(values, decs=0):
    return np.trunc(values * 10 ** decs) / (10 ** decs)


''' AMOUNT PERCENT '''

# получаем Clicks_to_Installs
cti = df[['Installs']].to_numpy() / (df[['Clicks']].to_numpy() / 100)
cti = trunc(cti, decs=1)
df.insert(4, "Clicks_to_Installs %", cti, True)


''' FINANCIAL '''

# получаем CPAp
cpap = df[['Budget']].to_numpy() / df[['loan_accepted (Event counter)']].to_numpy()
cpap = trunc(cpap, decs=2)
df.insert(3, "CPAp", cpap, True)

# получаем CPSu
cpsu = trunc(df[['Budget']].to_numpy() / df[['submit_loan_application (Event counter)']].to_numpy(), decs=2)
df.insert(3, "CPSu", cpsu, True)

# получаем CPI
cpi = trunc(df[['Budget']].to_numpy() / df[['Installs']].to_numpy(), decs=2)
df.insert(3, "CPI", cpi, True)

# получаем CPC
cpc = trunc(df[['Budget']].to_numpy() / df[['Clicks']].to_numpy(), decs=2)
df.insert(3, "CPC", cpc, True)


# получаем Installs_to_Login
itlo = trunc(df[['af_login (Event counter)']].to_numpy() / (df[['Installs']].to_numpy() / 100), decs=1)
df.insert(2, "Installs_to_Login %", itlo, True)

# получаем Installs_to_Submit
itsu = trunc(df[['submit_loan_application (Event counter)']].to_numpy() / (df[['Installs']].to_numpy() / 100),
                 decs=1)
df.insert(4, "Installs_to_Submit %", itsu, True)

# получаем Submit_to_Rejected
stre = trunc(df[['loan_rejected (Event counter)']].to_numpy() / (
            df[['submit_loan_application (Event counter)']].to_numpy() / 100), decs=1)
df.insert(6, "Submit_to_Rejected %", stre, True)

# получаем Submit_to_Accepted
stap = trunc(df[['loan_accepted (Event counter)']].to_numpy() / (
            df[['submit_loan_application (Event counter)']].to_numpy() / 100), decs=1)
df.insert(8, "Submit_to_Accepted %", stap, True)

# получаем Submit_to_Lost
stl = (100 - (stre + stap))
df.insert(10, "Submit_to_Lost %", stl, True)

Меняем несущствующие значения на ноль

In [34]:
df = df.replace([-np.inf, np.inf], [0, 0])
df.fillna(0,  inplace=True)
df

,Budget,Views,Installs_to_Login %,Installs_to_Login %,Installs_to_Submit %,CPC,Submit_to_Rejected %,CPI,Submit_to_Accepted %,CPSu,Submit_to_Lost %,CPAp,Clicks,Clicks_to_Installs %,Installs_to_Submit %,CPC,Submit_to_Rejected %,CPI,Submit_to_Accepted %,CPSu,Submit_to_Lost %,CPAp,Sessions,Clicks_to_Installs %,Installs,af_login (Event counter),submit_loan_application (Event counter),loan_rejected (Event counter),loan_accepted (Event counter)
googleadwords_int,1680,646000,179.1,179.1,116.0,0.11,33.0,0.04,13.3,0.04,53.7,0.31,14500,238.9,116.0,0.11,33.0,0.04,13.3,0.04,53.7,0.31,204301,238.9,34642,62059,40189,13289,5370
Organic,0,0,411.7,411.7,448.6,0.00,33.3,0.00,10.8,0.00,55.9,0.00,0,0.0,448.6,0.00,33.3,0.00,10.8,0.00,55.9,0.00,0,0.0,24197,99633,108557,36191,11806

Делаем расстановку колонок в удобном порядке

In [ ]:
df = df[['Budget',
                'Views', 
                'Clicks', 
                'CPC',
                'Clicks_to_Installs %',
                'Installs',
               'CPI',
               'Installs_to_Login %',
               'af_login (Event counter)',
               'Installs_to_Submit %',
               'submit_loan_application (Event counter)',
               'CPSu',
               'Submit_to_Rejected %',
               'loan_rejected (Event counter)',
               'Submit_to_Accepted %',
               'loan_accepted (Event counter)',
               'CPAp',
               'Submit_to_Lost %'
                   ]]

df

Получаем курс Тенге и копируем таблицу с финансовыми метриками

In [ ]:
''' add USD to KZT cotverter '''

rates = Rates()

KZTUSD = rates.get_exchange_rate("USD", from_kzt=True)

# create copy of table with KZT 
df_kzt = df.copy()
financial_metrics = ['Budget', 'CPC', 'CPI', 'CPSu', 'CPAp']
df_kzt[financial_metrics] = df_kzt[financial_metrics] * KZTUSD
df_kzt

Создаем визуализацию таблицы

In [ ]:

plt.bar(df_kzt.index[[0, 1]], df_kzt.iloc[list(df_kzt['Budget'] > 0)].Budget.values)
plt.title('Budget')

In [ ]:
plt.subplot(2, 1, 1)
plt.bar(df_kzt.index[[0, 1]], df_kzt.iloc[list(df_kzt['CPC'] > 0)].CPC.values)
plt.title('CPC')

plt.subplot(2, 1, 2)
plt.bar(df_kzt.index[[0, 1]], df_kzt.iloc[list(df_kzt['CPI'] > 0)].CPI.values)
plt.title('CPI')

In [ ]:
plt.subplot(2, 1, 1)
plt.bar(df_kzt.index[[0, 1]], df_kzt.iloc[list(df_kzt['CPSu'] > 0)].CPSu.values)
plt.title('CPSu')

plt.subplot(2, 1,2)
plt.bar(df_kzt.index[[0, 1]], df_kzt.iloc[list(df_kzt['CPAp'] > 0)].CPAp.values)
plt.title('CPAp')

In [ ]:
 df_kzt.iloc[list(df_kzt['CPSu'] > 0)].CPSu.values