Импорты и настройки

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 150)

Импорт таблицы

In [3]:
df = pd.read_csv('Desktop/DataAnalytics/Parser/old/30.05-12.06.csv', decimal=',')

Соотношение старых и новых клиентов

In [4]:
col_on = df['Old_New']
df['Old_New'].value_counts(dropna=False)

# Данные по столбцу Old_New
old_cl = df['Old_New'].value_counts().Старый
new_cl = df['Old_New'].value_counts().Новый
count_nan = len(df['Old_New']) - df['Old_New'].count()
all_cl = len(df['Old_New'])

# Считаем проценты
pc_old_cl = old_cl/(all_cl/100)
pc_new_cl = new_cl/(all_cl/100)
pc_nan_cl = count_nan/(all_cl/100)
pc_all_cl = sum([pc_old_cl,pc_new_cl, pc_nan_cl])

# Создаем список и таблицу
data_old_new = {'Count': [all_cl, new_cl, old_cl, count_nan],
                'Percent': [pc_all_cl, pc_new_cl, pc_old_cl, pc_nan_cl]}
df_old_new = pd.DataFrame(data_old_new, index=['All', 'New', 'Old', 'Unknown'])

# Выравниваем в приятный вид

df_old_new['Percent'] = df_old_new['Percent'].astype(int)
df_old_new

         Count  Percent
All         71      100
New         40       56
Old         31       43
Unknown      0        0

Переименовываем Customer User ID и удаляем дубли CreditID

In [5]:
df = df.rename(columns={'ClientID_Uliya': 'Customer User ID'})
df = df.drop_duplicates(subset='CreditID')

Добавляем Media sources из новой таблицы !!!! Скрыто так как не внедрено на поздний этапах.

In [6]:
# !!!! Скрыто так как не внедрено на поздний этапах.
# df_cladv = pd.read_csv('Desktop/DataAnalytics/Parser/tester_id_adv.csv', decimal=',')
# df_cladv['Customer User ID'] = df_cladv['Customer User ID'].astype(float).astype('int64')
# df_cladv = df_cladv.drop_duplicates(subset='Customer User ID')



# df = df.merge(df_cladv, on='Customer User ID')

In [10]:
df.head(3)

,Customer User ID,Data_Uliya,Old_New,Vozrast,Sex,SumCredita,VoznagrazhdeniyaSum,Srok,Open_Closed,BadDays,KolvoCreditovDOetogo,DatePredCredita,DownLoadDate,CreditID,BlackPerson
0,1485198,12.06.22_22.50.18,Старый,35,M,44000,10995.6,21,Открыт,0,1,2022-06-05,12.06.22_22.50.18,5925102,NaN
1,1122577,12.06.22_18.05.19,Старый,25,M,56000,13994.4,21,Открыт,0,17,2022-05-22,12.06.22_18.05.19,5923780,NaN
2,1335669,12.06.22_16.16.10,Новый,18,M,12000,2998.8,21,Открыт,0,0,нет,12.06.22_16.16.10,5923141,NaN

Получаем вознаграждение по всем и уже закрытым

In [18]:
all_fee = df['VoznagrazhdeniyaSum'].sum()
all_count = df.loc[df['VoznagrazhdeniyaSum'] > 0]
all_count = all_count['VoznagrazhdeniyaSum'].value_counts().sum()

closed_oc = df.loc[df['Open_Closed'] == 'Закрыт']
closed_fee = closed_oc['VoznagrazhdeniyaSum'].sum()
closed_count = closed_oc.loc[closed_oc['VoznagrazhdeniyaSum'] > 0]
closed_count = closed_count['VoznagrazhdeniyaSum'].value_counts().sum()

# new_cl = df.loc[df['Old_New'] == 'Новый']
    
# new_cl_fee = new_cl['VoznagrazhdeniyaSum'].sum()
# new_cl_count = new_cl.loc[closed_oc['VoznagrazhdeniyaSum'] > 0]

data_fee = { 'Все' : [all_fee , all_count],
            'Закрыт' : [closed_fee, closed_count] }
df_fee = pd.DataFrame(data_fee , index=['Вознаграждение', 'Количество'])
df_fee = df_fee.astype(int)

df_fee

                   Все  Закрыт
Вознаграждение  450939   49612
Количество          71      12

In [12]:
df.head(3)

,Customer User ID,Data_Uliya,Old_New,Vozrast,Sex,SumCredita,VoznagrazhdeniyaSum,Srok,Open_Closed,BadDays,KolvoCreditovDOetogo,DatePredCredita,DownLoadDate,CreditID,BlackPerson
0,1485198,12.06.22_22.50.18,Старый,35,M,44000,10995.6,21,Открыт,0,1,2022-06-05,12.06.22_22.50.18,5925102,NaN
1,1122577,12.06.22_18.05.19,Старый,25,M,56000,13994.4,21,Открыт,0,17,2022-05-22,12.06.22_18.05.19,5923780,NaN
2,1335669,12.06.22_16.16.10,Новый,18,M,12000,2998.8,21,Открыт,0,0,нет,12.06.22_16.16.10,5923141,NaN

Вознаграждения от клиентов всего и новых клиентов